body {
  background-color: #363333;
  font-style: Helvetica;
  margin: 0px;
  padding: 0px;

}
@media (max-width: 1920px){

  .header {
    width: 100%;
    height: 50%;
    padding-right: 15%;
    align-items: center;
    text-align: center;
  }

  .inner-header {
    padding-left: 35%;
    padding-top: 5%;
    padding-right: 15%;
    text-align: center;
  }

  .h1-header {
    font-size: 250%;
    color: #FEE440;
    text-align: center;
  }

  .text {
    font-size: 150%;
    color: #F6E9E9;
    text-align: center;
  }
  .img-inner{
    text-align: center;
    
  }
  .img {
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  .img-logos {
    text-align: center;
    padding: 1.5%;
    width: 100%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  ul {
    list-style-type: initial;
    text-align: center;
  }

  li {
    text-align: center;
    display: flex;
    float: left;
    text-align: center;
    list-style: none;
  }

  .skills {
    padding: 10%;
  }

  li.skils {
    display: none;
    padding-inline-end: 10%;
  }

  #button {
    padding: 25%;
  }

  #cv {
    color: #F6E9E9;
  }
}
  

@media (max-width: 1024px) {
  .header {
    width: 100%;
    height: 50%;
    padding-right: 15%;
    align-items: center;
    text-align: center;
  }

  .inner-header {
    padding-left: 35%;
    padding-top: 5%;
    padding-right: 15%;
    text-align: center;
  }

  .h1-header {
    font-size: 250%;
    color: #FEE440;
    text-align: center;
  }

  .text {
    font-size: 150%;
    color: #F6E9E9;
    text-align: center;
  }
  .img-inner{
    text-align: center;
    
  }
  .img {
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  .img-logos {
    text-align: center;
    padding: 1.5%;
    width: 100%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  ul {
    list-style-type: initial;
    text-align: center;
  }

  li {
    text-align: center;
    display: flex;
    float: left;
    text-align: center;
    list-style: none;
  }

  .skills {
    padding: 10%;
  }

  li.skils {
    display: none;
    padding-inline-end: 10%;
  }

  #button {
    padding: 25%;
  }

  #cv {
    color: #F6E9E9;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    height: 50%;
    padding-right: 15%;
    align-items: center;
    text-align: center;
  }

  .inner-header {
    padding-left: 35%;
    padding-top: 5%;
    padding-right: 15%;
    text-align: center;
  }

  .h1-header {
    font-size: 250%;
    color: #FEE440;
    text-align: center;
  }

  .text {
    font-size: 150%;
    color: #F6E9E9;
    text-align: center;
  }
  .img-inner{
    text-align: center;
    
  }
  .img {
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  .img-logos {
    text-align: center;
    padding: 1.5%;
    width: 100%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  ul {
    list-style-type: initial;
    text-align: center;
  }

  li {
    text-align: center;
    display: flex;
    float: left;
    text-align: center;
    list-style: none;
  }

  .skills {
    padding: 10%;
  }

  li.skils {
    display: none;
    padding-inline-end: 10%;
  }

  #button {
    padding: 25%;
  }

  #cv {
    color: #F6E9E9;
  }
}

@media (max-width: 480px) {
  .header {
    width: 100%;
    height: 50%;
    padding-right: 15%;
    align-items: center;
    text-align: center;
  }

  .inner-header {
    padding-left: 35%;
    padding-top: 5%;
    padding-right: 15%;
    text-align: center;
  }

  .h1-header {
    font-size: 250%;
    color: #FEE440;
    text-align: center;
  }

  .text {
    font-size: 150%;
    color: #F6E9E9;
    text-align: center;
  }
  .img-inner{
    text-align: center;
    
  }
  .img {
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  .img-logos {
    text-align: center;
    padding: 1.5%;
    width: 100%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  ul {
    list-style-type: initial;
    text-align: center;
  }

  li {
    text-align: center;
    display: flex;
    float: left;
    text-align: center;
    list-style: none;
  }

  .skills {
    padding: 10%;
  }

  li.skils {
    display: none;
    padding-inline-end: 10%;
  }

  #button {
    padding: 25%;
  }

  #cv {
    color: #F6E9E9;
  }
}

@media (max-width: 320px) {
  .header {
    width: 100%;
    height: 50%;
    padding-right: 15%;
    align-items: center;
    text-align: center;
  }

  .inner-header {
    padding-left: 35%;
    padding-top: 5%;
    padding-right: 15%;
    text-align: center;
  }

  .h1-header {
    font-size: 250%;
    color: #FEE440;
    text-align: center;
  }

  .text {
    font-size: 150%;
    color: #F6E9E9;
    text-align: center;
  }
  .img-inner{
    text-align: center;
    
  }
  .img {
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  .img-logos {
    text-align: center;
    padding: 1.5%;
    width: 100%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  ul {
    list-style-type: initial;
    text-align: center;
  }

  li {
    text-align: center;
    display: flex;
    float: left;
    text-align: center;
    list-style: none;
  }

  .skills {
    padding: 10%;
  }

  li.skils {
    display: none;
    padding-inline-end: 10%;
  }

  #button {
    padding: 25%;
  }

  #cv {
    color: #F6E9E9;
  }
}