body {
  background-color: #363333;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  margin: 0px;
  padding: 0px;

}
@media (max-width: 1920px){

  .header {
    width: 100%;
    height: 50%;
    padding-right: 15%;
  }

  .inner-header {
    padding-left: 35%;
    padding-top: 5%;
    padding-right: 15%;
    text-align: center;
  }

  .h1-header {
    font-size: 300%;
    color: #FEE440;
  }

  .text {
    font-size: 150%;
    color: #F6E9E9;
    text-align: center;
  }

  .img {
    text-align: center;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  .img-logos {
    text-align: center;
    padding: 1.5%;
    max-width: 85%;
    max-height: 85%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  ul {
    list-style-type: initial;
    text-align: center;
  }

  li {
    text-align: center;
    display: flex;
    float: left;
    text-align: center;
    list-style: none;
  }

  .skills {
    padding: 10%;
  }

  li.skils {
    display: none;
    padding-inline-end: 10%;
  }

  #button {
    padding: 25%;
  }

  #cv {
    color: #F6E9E9;
  }
}
  

@media (max-width: 1024px) {
  .header {
    width: 100%;
    height: 50%;
    padding-right: 15%;
  }

  .inner-header {
    padding-left: 35%;
    padding-top: 5%;
    padding-right: 15%;
    text-align: center;
  }

  .h1-header {
    font-size: 300%;
    color: #FEE440;
  }

  .text {
    font-size: 150%;
    color: #F6E9E9;
    text-align: center;
  }

  .img {
    text-align: center;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  .img-logos {
    text-align: center;
    padding: 1.5%;
    max-width: 85%;
    max-height: 85%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  ul {
    list-style-type: initial;
    text-align: center;
  }

  li {
    text-align: center;
    display: flex;
    float: left;
    text-align: center;
    list-style: none;
  }

  .skills {
    padding: 10%;
  }

  li.skils {
    display: none;
    padding-inline-end: 10%;
  }

  #button {
    padding: 25%;
  }

  #cv {
    color: #F6E9E9;
  }
}

@media (max-width: 768px) {
  header {
    width: 100%;
    height: 25%;
    padding-right: 10%;
  }

  .inner-header {
    padding-left: 35%;
    padding-top: 5%;
    padding-right: 15%;
    text-align: center;
  }

  .h1-header {
    font-size: 300%;
    color: #FEE440;
  }

  .text {
    font-size: 150%;
    color: #F6E9E9;
    text-align: center;
  }

  .img {
    text-align: center;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  .img-logos {
    text-align: center;
    padding: 1.5%;
    max-width: 85%;
    max-height: 85%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  ul {
    list-style-type: initial;
    text-align: center;
  }

  li {
    text-align: center;
    display: flex;
    float: left;
    text-align: center;
    list-style: none;
  }

  .skills {
    padding: 10%;
  }

  li.skils {
    display: none;
    padding-inline-end: 10%;
  }

  #button {
    padding: 25%;
  }

  #cv {
    color: #F6E9E9;
  }
}

@media (max-width: 480px) {
  header {
    width: 100%;
    height: 15%;
    padding-right: 5%;
  }

  .inner-header {
    padding-left: 20%;
    padding-top: 5%;
    padding-right: 5%;
    text-align: center;
  }

  .h1-header {
    font-size: 300%;
    color: #FEE440;
  }

  .text {
    font-size: 70%;
    color: #F6E9E9;
    text-align: center;
  }

  .img {
    text-align: center;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  .img-logos {
    text-align: center;
    padding: 1.5%;
    max-width: 85%;
    max-height: 85%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  ul {
    list-style-type: initial;
    text-align: center;
  }

  li {
    text-align: center;
    display: flex;
    float: left;
    text-align: center;
    list-style: none;
  }

  .skills {
    padding: 10%;
  }

  li.skils {
    display: none;
    padding-inline-end: 10%;
  }

  #button {
    padding: 25%;
  }

  #cv {
    color: #F6E9E9;
  }
}

@media (max-width: 320px) {
  header {
    width: 100%;
    height: 20%;
    padding-right: 1,5%;
  }

  .inner-header {
    padding-left: 35%;
    padding-top: 5%;
    padding-right: 1,5%;
    text-align: center;
  }

  .h1-header {
    font-size: 300%;
    color: #FEE440;
  }

  .text {
    font-size: 50%;
    color: #F6E9E9;
    text-align: center;
  }

  .img {
    text-align: center;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  .img-logos {
    text-align: center;
    padding: 1.5%;
    max-width: 85%;
    max-height: 85%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-radius: 50%;
  }

  ul {
    list-style-type: initial;
    text-align: center;
  }

  li {
    text-align: center;
    display: flex;
    float: left;
    text-align: center;
    list-style: none;
  }

  .skills {
    padding: 10%;
  }

  li.skils {
    display: none;
    padding-inline-end: 10%;
  }

  #button {
    padding: 25%;
  }

  #cv {
    color: #F6E9E9;
  }
}

