<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajos Realizados</title>
    <meta name="viewport" content="with=device-with, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link href="statics/Css/Css Cv.css" rel="stylesheet">
    <link rel="stylesheet" href="../statics/Css/Css Cv.css">

</head>

<body>

    <section class="proyects-photos">
        <div class="header">
            <div class="inner-header">
                <header class="title-header">
                    <h1 class="h1-header">
                        Proyectos realizados.
                    </h1>
                </header>
            </div>
        </div>
    </section>

    <section class="conteiner-proyects">
        <div class="container px-4">

            <div class="col">
                <div class="p-3 border bg-light">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../statics/Imagenes/corrousel/menu-1.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                                <h5>Menu interactivo</h5>
                                <p>Un pequeño menu para interactuar con la pagina principal y poder obsevar
                                    comentarios y observar la pagina principal y su vista.</p>
                            </div>
                            <div class="carousel-item">
                                <img src="../statics/Imagenes/corrousel/clientes.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">

                                </div>
                                <h5>Base de datos de clientes</h5>
                                <p>Todos los clientes dentro del hotel, teniendo todo sus datos guarados en una
                                    base de datos en MySql.</p>
                            </div>
                            <div class="carousel-item">
                                <img src="../statics/Imagenes/corrousel/habitaciones.png" class="d-block w-100"
                                    alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                                <h5>Habitaciones</h5>
                                <p>Todas las habitaciones con diferentes colores para para mejor organizacion,
                                    teniendo en cuenta como se guardo en la base de datos en MySql.</p>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>
            <br>
            <div class="col">
                <div class="p-3 border bg-light">Proximamente</div>
            </div>

        </div>
    </section>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../index.html" id="cv">Volver</a>
        </li>
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>